./target
.classpath
.project
.settings
/bin

leavemealone-android/target
leavemealone-android/.classpath
leavemealone-android/.project
leavemealone-android/.settings
leavemealone-android/libs/
leavemealone-android/.externalToolBuilders/
leavemealone-android/gen/
leavemealone-android/bin/


leavemealone-core/target
leavemealone-core/.classpath
leavemealone-core/.project
leavemealone-core/.settings
leavemealone-core/bin/

leavemealone-desktop/hs_err*
leavemealone-desktop/target
leavemealone-desktop/.classpath
leavemealone-desktop/.project
leavemealone-desktop/.settings
leavemealone-desktop/bin/

